* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin-top: 50px;
    background-color: beige;
}

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: 50vw;
  }

  .cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 
  .input_busqueda {
    width: 3rem;
    height: 2rem;
    background: beige;
    text-align: center;
  }
  .input_boton {
    width: 11rem;
    height: 2rem;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
  }
  .tarjeta_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 16rem;
    border-radius: 5rem;
    background-color: darkred;
    color: aliceblue;
  }
  .tarjeta_menu:hover {
    background-color: cadetblue;
    transition: all 0.9s ease; 
  }

  .img_menu {
    width: 12rem;
    height: 8rem;
    border-radius: 10rem;
  }

